<!DOCTYPE html>
<html lang="fr">
    <head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	    <title>Semaine Intensive - Star Wars</title>
	    <!--|if lt IE 9]>
            <script src="http://html5shiv.google.com/svn/trunk/html5.js"
        ><![endif]-->
	    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="styles/style.css">
	    
    </head>
    <div id="planet">
	    <body class="mapbackground">
	    <div class="click"> <div class="click-image"></div>Cliquez bande de salopes</div>
	    <div class="planet_1" v-on:click="displayPlanetInfos('http://swapi.co/api/planets/1/')"></div>

		<div class="planet_2" v-on:click="displayPlanetInfos('http://swapi.co/api/planets/8/')"></div>

		<div class="planet_3" v-on:click="displayPlanetInfos('http://swapi.co/api/planets/4/')"></div>
 	
 	
 		<div class="card card1" v-show="cardToggle" transition="expand">
 			<div v-if="!loading">

				<div class="close" v-on:click="close"></div>
				<div class="name">{{ name }}</div>
				<div class="separator"></div>

				<div class="carac">
					<div class="climate"> <div class="climate-image"></div>{{ climate }}</div>
					<div class="gravity"> <div class="gravity-image"></div>{{ gravity }}</div>
					<div class="diameter"><div class="diameter-image"></div>{{ diameter }}</div>
					<div class="terrain"><div class="terrain-image"></div>{{ terrain }}</div>
					<div class="population"><div class="population-image"></div> {{ population }}</div>
					<div class="image "></div>
					<div class="learnmore" v-on:click="learnmore">Learn more</div>
				</div>
			</div>
			<div class="spinner" v-if="loading">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		
		</div>

		<div class="logomap"></div>

	</div>
		










		<script src="scripts/vue.js"></script>
	    <script src="scripts/main.js"></script>

    </body>
    </html>