<!DOCTYPE html>
<html lang="fr">
    <head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	    <title>Semaine Intensive - Star Wars</title>
	    <!--|if lt IE 9]>
            <script src="http://html5shiv.google.com/svn/trunk/html5.js"
        ><![endif]-->
	    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	    <link rel="stylesheet" href="styles/style.css">
	    
    </head>
    <div id="planet">
	    <body class="mapbackground">
	    <div class="planet_1" v-on:click="displayPlanetInfos('http://swapi.co/api/planets/1/')"></div>

		<div class="planet_2" v-on:click="displayPlanetInfos('http://swapi.co/api/planets/2/')"></div>

		<div class="planet_3" v-on:click="displayPlanetInfos('http://swapi.co/api/planets/3/')"></div>
 	
 	
 		<div class="card card1" v-show="cardToggle" transition="expand">
 			<div v-if="!loading">


				<div class="name">{{ name }}</div>
				<div class="separator"></div>

				<div class="climate"> Climat : {{ climate }}</div>
				<div class="gravity"> Gravité : {{ gravity }}</div>
				<div class="diameter"> Diamètre : {{ diameter }}</div>
				<div class="terrain"> Terrain : {{ terrain }}</div>
				<div class="population"> Population : {{ population }}</div>
				<div class="image "></div>
				<div class="close" v-on:click="close">Close</div>
			</div>
			<div class="spinner" v-if="loading">
				<div class="double-bounce1"></div>
				<div class="double-bounce2"></div>
			</div>
		</div>

	</div>
		










		<script src="scripts/vue.js"></script>
	    <script src="scripts/main.js"></script>

    </body>
    </html>