html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: url(../images/background2.png);
  background-size: cover;

}

.logo {
  background-image: url(../images/logo.png);
  background-size: cover;
  width: 300px;
  height: 200px;
  margin: auto;
  z-index: 2;
}

.description {
  width: 50%;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  color: #fff;
  margin-top: 6em;
  font-size: 17px;
  z-index: 3;

}

.x-wing {
  position: absolute;
  left: -45%;
  background: url(../images/x-wing.png);
  background-size: cover;
  width: 250px;
  height: 106px;
  z-index: 1;
  animation-name: xwing;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}
@keyframes xwing {
  from {left:-45%}
  to {left:100%;}
}

.explore {
  display: block;
  width: 170px;
  height: 60px;
  background-color: inherit;
  border: 3px solid white;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 19px;
  margin: auto;
  text-align: center;
  margin-top: 6em;

}







/*.galaxy {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 5000px;
          perspective: 5000px;
}
input {
  display: none;
}
.planet__mars {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: #000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 4s;
  transition: -webkit-transform 4s;
  transition: transform 4s;
  transition: transform 4s, -webkit-transform 4s;
  -webkit-animation: pulse 3s linear infinite alternate;
          animation: pulse 3s linear infinite alternate;
}
.planet__mars::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
/* background-color: rgba(255,255,255,1); 
  background-image: url("http://mepag.jpl.nasa.gov/hightlight_images/mars2_115916c.jpg");
  background-size: auto 100%;
  background-position: center;
}
input:checked + .planet__mars {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.cloud {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(0.3) translate(-50%, -50%);
          transform: scale(0.3) translate(-50%, -50%);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 4s;
  transition: -webkit-transform 4s;
  transition: transform 4s;
  transition: transform 4s, -webkit-transform 4s;
}
input:checked ~ .cloud {
  -webkit-transform: scale(0.5) translate(-50%, -50%);
          transform: scale(0.5) translate(-50%, -50%);
}
.cluster {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 5000px;
          perspective: 5000px;
  -webkit-animation: rotation 240s linear infinite;
          animation: rotation 240s linear infinite;
}
.star {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.star,
.star::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.8);
}
.star::before {
  content: "";
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
}

@-webkit-keyframes pulse {
  from {
    box-shadow: 0 0 20px #ff6432;
  }
  to {
    box-shadow: 0 0 50px #ff6432;
  }
}
@keyframes pulse {
  from {
    box-shadow: 0 0 20px #ff6432;
  }
  to {
    box-shadow: 0 0 50px #ff6432;
  }
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotateY(0) rotateX(0);
            transform: rotateY(0) rotateX(0);
  }
  to {
    -webkit-transform: rotateY(-360deg) rotateX(360deg);
            transform: rotateY(-360deg) rotateX(360deg);
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotateY(0) rotateX(0);
            transform: rotateY(0) rotateX(0);
  }
  to {
    -webkit-transform: rotateY(-360deg) rotateX(360deg);
            transform: rotateY(-360deg) rotateX(360deg);
  }
}*/
